/* colores 
   #F3F5FC ; color fondo principal
   #0A3871 ; color texto,logo y btn encriptar
   #343A40 ; texto ningun mensaje encontrado
   #495057 ; ingresa txt para des... y ! solo ...
   #ffffff ; fondo tajeta respuesta
 */

/** generales */
*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #f3f5fc;
   font-family: 'Inter', sans-serif;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-content: space-around;
}

.container {
   /* display: flex; */
   /* flex-direction: column; */
   /* align-content: space-around; */
}

/** header */
.logo-pc {
   display: none;
}

/** main */

/* ? ingreso del texto */
.textarea {
   width: 90%;
   resize: none;
   outline: none;
   margin: 0 0.5rem;
   background-color: #f3f5fc;
   border: none;
   font-size: 32px;
   font-weight: 400;
   line-height: 48px;
   letter-spacing: 0em;
   text-align: left;
   color: #0A3871;
}

.textarea::placeholder {
   opacity: 1;
}



/* ? botones */
.aclaracion {
   font-size: 12px;
   font-weight: 400;
   line-height: 18px;
   letter-spacing: 0em;
   text-align: left;
   color: #343A40;
   margin: 1em;
}

.aclaracion img {
   vertical-align: top;

}

.botones {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.btn {
   padding: 24px;
   margin: 24px 0px;
   width: 21.4em;
   height: 67px;
   border-radius: 24px;
}

.btn-encriptar {
   background: #0A3871;
   border: none;
   color: #ffffff;
}

.btn-desencriptar {
   border: 1px solid #0A3871;
   background-color: #ffffff;
   color: #0A3871;
}

/* ? respuesta encriptación */

.cuadro-respuesta {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2em;
   width: 21.4em;
   margin: 0 auto;
   background-color: #ffffff;
   box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
   border-radius: 32px
}

.respuesta {
   font-size: 24px;
   font-weight: 700;
   line-height: 29px;
   letter-spacing: 0em;
   text-align: center;
   color: #343A40;
   margin: 1em;
}

.ayuda {
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0em;
   text-align: center;
   color: #343A40;
   margin: 1em;
}

.img-desktop {
   display: none;
}

.btn-copiar {
   /* visibility: hidden; */
   display: none;
   border: 1px solid #0A3871;
   background-color: #ffffff;
   color: #0A3871;
}

/** footer */
.footer {
   background-color: #EFF1FA;
   font-size: 12px;
   text-align: center;
   color: #343A40;
}

.desarrollo {
   display: flex;
   flex-direction: column;
   bottom: 0;
}

